[Desktop Entry]
Type=Application
Terminal=false
Exec=amazon-webapp
Name=Amazon
Icon=${SNAP}/meta/gui/amazon.png
X-Ubuntu-Touch=true
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=internet
